#dir
memcached/*
oppo_project/.vscode
oppo_project/cmake
oppo_project/third_party
third_party/asio-1.24.0
third_party/grpc
third_party/libmemcached
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
