#dir
memcached/*
oppo_project/.vscode
oppo_project/cmake
oppo_project/third_party
third_party/asio-1.24.0
third_party/grpc
third_party/libmemcached
third_party/ycsb-0.12.0.tar.gz
third_party/gf-complete
third_party/jerasure
.vscode
build


#proto 
*.grpc.pb.cc
*.grpc.pb.h
*.pb.cc
*.pb.h
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
